{% extends "base.html" %}
{% block title %}Behavioral Analysis - Cards Problem Study{% endblock %}

{% block extra_css %}
<style>
.ba-embed-wrap { padding: 0; }
.ba-embed-frame {
    width: 100%;
    height: calc(100vh - 150px);
    min-height: 720px;
    border: 0;
    display: block;
}
</style>
{% endblock %}

{% block content %}
<div class="ba-embed-wrap">
    <iframe class="ba-embed-frame" src="{{ url_for('behavioral.index') }}" title="Behavioral Patterns Analysis" loading="lazy"></iframe>
</div>
{% endblock %}
